ユーザ情報編集
<%= form_with(model: @user, local: true, url: {controller: 'users', action: 'update' }) do |f|%>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class:"form-control-file" %>
    <%= f.label :image %>
    <%= f.file_field :image, class:"form-control-file" %>
  </div>

  <%= f.submit '登録', class:"btn btn-success btn-block"%>

<% end %>
